* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.button {
    text-decoration: none;
    color:black;
    display: inline-block;
    min-width: 120px;
    text-align: center;
}

#section2 {
    width: 300px;
}
.simple {
    border: 2px solid rgb(224,207,98);
    border-radius: 5px;
    background-color: rgb(248, 254, 169);
    padding: 10px 12px;
}


.background {
    background: rgb(0,0,0);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
}
.border {
    color: rgb(0,140,255);
    border: 3px solid rgb(0,140,255);


}


.border {
    border: 3px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    display: block;
}


.media-text {
    display: inline-block;
    width: 260px;
}