* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: linear-gradient(135deg, #ff9a9e, #fad0 );
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 260;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    overflow: hidden;
    position: relative;

}

.card:hover {
    transform: translateY(10px);
}
.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%
}
.card h2 {
    margin: 15px 0 5px;
}

button{
    background: hotpink;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;

}

button:hover {
    background: deeppink;
}
