* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Arial black', sans-serif;
    background: radial-gradient(circle at center, #1b2735, #090a0f);
    color:white;
    text-align: center;

}
.flyer {
    padding: 60px 20px;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
}

.host {
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.main-title {
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
    background: linear-gradient(to right,silver,white);
    text-shadow: 0 0 25px rgba(3, 19, 31, 0.539);
}
.sub-title {
    font-size: 50px;
    color: gold;
    text-shadow: 0 0 20px rgba(255,215,0,0.7);
    margin-bottom: 20px;
}
.party-text {
    font-size: 26px;
    margin-bottom: 30px;
    color:#ffd700;
}

.highlight {
    font-weight: bold;
    color: #ffcc00;
}

.teams {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px 0;
    flex-wrap: wrap;
}
.team {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 15px;
    width:250px;
    backdrop-filter: blur(5px);
    transition: 0.3s;
}

.team:hover {
    transform: scale(1.05);
}

.team img {
    width: 100%;
    height: auto;
    
}

.team-name {
    font-size: 22px;
    margin-top: 15px;
    font-weight: bold;
}

.vs {
    font-size: 30px;
    font-weight: bold;
    color: red;
    text-shadow: 0 0 15px red;
}

.buttons {
    margin: 40px 0;
}

button {
    padding: 18px 30px;
    font-size: 20px;
    border: none;
    border-radius: 40px;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;

}

.yes {
    background: linear-gradient(to right,green,limegreen);
    color:white;
    box-shadow: 0 0 20px rgba(255,0,0,0.6);
}

button:hover {
    transform: scale (1.1);
}

.footer {
    margin-top: 30px;
    font-size: 20px;
    color: #ddd;
}