#bulletin-board {
    width: 100%
    text-align center;
}

.post-it {
    background-color: yellow;
    display: inline-block;
    width: 200px;
    height: 250px;
    font-family: Arial, sans-serif;
    margin: 24px;
    padding:24px;
    vertical-align: top;
    box-shadow: 3px 3px 8px rgba(0,0,0,2);
}

.post-it img {
    width: 100%;
    height: auto;
}

.yellow {background-color:#fff9a6;}
.pink {background-color: #ffc0cb;}
.blue {background-color: #b3e5fc;}
.green {background-color: #c8e6c9;}
.orange {background-color: #ffe0b2;}
.purple {background-color: #e1bee7;}
