* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

h1 {
    color: white;
    background-color: black;
    padding: 10px;    
}

#p-1 {
    margin: 30px;
    background-color: rgb(227,236,186);
    padding: 10px;
}

#green-mark {
    color: red;
    background-color: pink;
    padding: 5px;
}

#purple-mark {
    color: blue;
    background-color: red;
}

#pink-mark {
    color: green;
    background-color: black;
    padding: 2px;
}